# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/

# macOS junk
.DS_Store

# Output audio
output/*.wav
